[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dj-database-url = "*"
django-datetimepicker = "*"
mccabe = "*"
psycopg2-binary = "*"
pycodestyle = "*"
pyflakes = "*"
pytz = "*"
rules = "*"
Django = "*"
dj-commented-view = {git = "https://github.com/skairunner/dj-commented-view.git"}

[requires]
python_version = "3.6"
