{% extends "base.html" %}

{% block title %}
Forums – {{ group.groupname }}
{% endblock %}

{% block content %}
<h1>{{ group.groupname }} forum </h1>
<a href='{% url "newthread" group.id group.slug %}'>New thread</a>
<hr>
{% for thread in object_list %}
  <div class='thread'>
    <a href='{% url "viewthread" group.pk thread.pk thread.slug %}'>
      <span class='topic'>{{ thread.threadname }}</span>
    </a>
    posted by
    {% include "user_inline_fragment.html" with user=thread.author %}
    at
    {{ thread.dateposted }}
  </div>
  <hr>
{% endfor %}
{% endblock %}
