{% extends 'base.html' %}
{% load rules %}

{% block content %}
<h1>{{ object.groupname }}</h1>
{% test_rule 'can_edit_grouppage' user object as canedit %}
{% if canedit %}
<a href='{% url "editgroup" group.pk %}'>Edit homepage</a>
{% endif %}
<div>{{ object.grouppage |safe }}</div>
  <a href='{% url "forum" object.pk object.slug %}'>Forum</a>
<hr>
<div class='comments'>
  {% for comment in comment_list %}
    {% include "comment_fragment.html" with comment=comment %}
  {% endfor %}
</div>
{% if user.is_authenticated %}
<div>
  <form action='{{ request.path }}' method='POST'>
    {% csrf_token %}
    {{ postcomment_form }}
  <input type='submit' value='Submit'>
  </form>
</div>
{% endif %}
{% endblock %}
