{% extends 'base.html' %}

{% block content %}
<h2>Topic: {{ thread.threadname }}</h2>
<hr>
{% for post in object_list %}
<div id='post{{ post.pk }}'>
  <div>{% include "user_inline_fragment.html" with user=post.author %} posted at {{ post.dateposted }}</div>
  <div>{{ post.postcontent|safe }}</div>
  <a href='{{ post.get_absolute_url }}'>Permalink</a>
  <hr>
</div>
{% endfor %}
{% if user.is_authenticated %}
<div>
  <form action='{{ request.path }}' method='POST'>
    {% csrf_token %}
    {{ postcomment_form }}
  <input type='submit' value='Submit'>
  </form>
</div>
{% endif %}
{% endblock %}
