<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %} [PCTNet]</title>
    </head>

    <body>
    <nav id='main-nav'>
        <ul>
            <li><a href='{% url "storyindex" %}'>Stories</a></li>
            <li><a href='{% url "group-index" %}'>Groups</a></li>
            {% if user.is_authenticated %}
            <li><a href='{% url "currentuser" %}'>{{ user.userprofile.screenname }}</a></li>
            <li><a href='{% url "logout" %}'>Logout</a></li>
            {% else %}
            <li><a href='{% url "login" %}'>Login</a></li>
            <li><a href='{% url "signup" %}'>Signup</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock content %}
    </body>
</html>
