{% extends "base.html" %}

{% block title %}
Editing "{{ object.chaptertitle }}" – {{ object.parent.worktitle }}
{% endblock title %}

{% block content %}
{% if preview %}
  <div class='chaptertext preview'>
  {{ content_preview |safe }}
  </div>
  <form method='POST'>
    {% csrf_token %}
    {% for field in form %}
      {{ field.as_hidden }}
    {% endfor %}
    <input type='submit' name='edit' value='Edit more'>
    <input type='submit' name='save' value='Save'>
  </form>
{% else %}
  {% include "stories/edit_navbar_fragment.html" with buttons=buttons story=object.parent %}
  <form method='POST'>
    {% csrf_token %}
    {{ form }}
    <input type='submit' name='preview' value='Preview'>
    <input type='submit' name='save' value='Save'>
  </form>
{% endif %}
{% endblock %}
