{% extends "base.html" %}
{% load rules %}

{% block content %}
<nav class="navigation">
  {% has_perm 'stories.change_story' user object.parent as canedit %}
  {% if canedit %}
  <a href='{% url "editchapter" object.id %}'><button>Edit chapter</button></a>
  {% endif %}
  {% if previous_chapter %}
  <a href="{{ previous_chapter }}"><button>Previous Chapter</button></a>
  {% endif %}
  {% if next_chapter %}
  <a href="{{ next_chapter }}"><button>Next Chapter</button></a>
  {% endif %}
  {% if chapter_list|length > 1 %}
  <select id="chapterlist">
    {% for i, chapterid, title in chapter_list %}
    <option value="{{ chapterid }}" {% if this_chapter == chapterid %} selected="selected" {% endif %}> {{ i }}. {{ title }} </option>
    {% endfor %}
  </select>
  {% endif %}
</nav>
<h1>{{ object.parent.worktitle }}</h1>
<h2>By {% include "user_inline_fragment.html" with user=object.author %}</h2>
<h3>Date posted: {{ object.dateposted }} </h3>
<div class='worksummary'><i>Work summary:</i> <span class='worksummary-content'>{{ object.parent.worksummary }}</span></div>
<hr>
<div class='chaptersummary'><i>Chapter summary:</i> <span class='chaptersummary-content'>{{ object.chaptersummary |safe }}</span></div>
<hr>
<div class='chaptertext'>{{ object.chaptertext |safe }}</div>
<hr>
<div id="comments">
  {% for comment in comment_list %}
  {% include "comment_fragment.html" with comment=comment %}
  {% endfor %}
</div>
{% if user.is_authenticated %}
<div>
  <form action="{{ request.path }}" method="POST">
    {% csrf_token %}
    {{ postcomment_form }}
    <input type="submit" value="Submit">
  </form>
</div>
{% endif %}
{% endblock %}

